:root {
  --main-bg: #F9F8F3;
}
html,
body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-bg);

  display: flex;
  padding: 0;
  flex-direction: column;
  overflow: hidden scroll;
}
main {
  width: 100%;
}
a {
  cursor: pointer;
}
video,
img {
  width: 100%;
}
h1,
h2 {
  margin: 0;
  font-family: coconat;
}
.phone {
  display: none !important;
}
header {
  text-align: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  width: 100vw;
  height: fit-content;
  z-index: 10;

  input {
    display: none;
  }
  .lbl-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    height: 150px;
    z-index: 3;
    transition: left .5s;
    padding: 0px 40px 0px 30px;
    background-color: var(--main-bg);
    box-shadow: 0 0 5px black;
    display: none;
    transition: box-shadow .5s;

    .line {
      position: relative;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: black;
      transition: transform .5s, opacity .5s;
    }
    .l1 {
      top: 59px;
    }
    .l2 {
      top: 65px;
    }
    .l3 {
      top: 71px;
    }
    .logo {
      img {
        max-height: 140px;
        width: unset;
        margin: 0 auto;
      }
    }
  }
  .toggle:checked + .lbl-toggle {
    box-shadow: unset;

    .l2 {
      opacity: 0;
    }
    .l1 {
      transform: translateY(10px) rotate(45deg);
    }
    .l3 {
      transform: translateY(-5px) rotate(-45deg);
    }
  }
  .toggle:checked + .lbl-toggle + .header {
    transform: translateX(0);
  }
  .header {
    background-color: var(--main-bg);
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6vw;
    flex: 0 0 40%;
    width: fit-content;
  }
  .img {
    flex: 0 0 auto;
    max-height: 100px;
    justify-self: flex-start;

    img {
      max-height: 100px;
      width: unset;
    }
  }
  .header.other {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0 0 15px black;

    & > * {
      order: 2;
    }
    .img {
      order: 1;
    }
    .img,
    img {
      margin: 0;
      margin-left: 1vw;
    }
    .languages {
      position: relative;
      margin: 0;
      top: unset;
      right: unset;
      align-self: center;
      justify-self: center;
    }
  }
  .languages {
    align-self: flex-start;
    justify-self: self-end;
    margin-top: 10px;
    margin-right: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
@media (max-width : 1000px) {
  .wrapper {
    overflow: hidden scroll;
    height: 100%;
    display: block;
  }
  .non-sticky,
  header {
    position: fixed;
    top: 0;
    left: 0;

    .header.main,
    .header.other,
    .header {
      padding: 5vw;
      padding-top: calc(5vw + 120px);
      transform: translateY(-200%);
      transition: transform .5s;
      display: flex;
      flex-direction: column;
      height: fit-content;
      box-sizing: border-box;
      align-items: flex-start;
      gap: 10px;

      & > * {
        order: 2;
      }
      .img {
        order: 1;
        display: flex;
        max-height: unset;
        margin: 0;
        display: none;

        img {
          width: 40%;
          align-self: self-start;
          max-height: unset;
          margin-left: -35px;
          display: block !important;
        }
      }
      .links {
        flex-direction: column;
        gap: 10px;
      }
      .languages {
        top: unset;
        bottom: 10px;
        margin-top: unset;
        margin-bottom: 10px;
        align-self: flex-end;
        position: absolute;

        a {
          font-size: 4vw;
        }
      }
      a {
        font-size: 5vw;
      }
    }
    .lbl-toggle {
      display: block;
    }
  }
  img:not(.phone) {
    display: none !important;
  }
  .phone {
    display: block !important;
  }
}