.no-scroll {
  overflow: hidden;
  height: 100vh;

  .wrapper {
    height: 100%;
  }
}
.non-sticky {
  position: static;
}
header {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    align-items: center;
    width: 100vw;
    position: relative;
  }
  .header.main {
    padding-top: 5vh;
    height: 130px;
    box-sizing: border-box;
    background-color: transparent;

    .img {
      max-height: unset;
      width: 100%;

      img {
        max-height: unset;
        width: 66%;
        max-width: 650px;
      }
    }
  }
}
.canvasMain1 {
  display: flex;
  position: relative;
  background-image: url(../images/home/home.jpeg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
  .text {
    position: absolute;
    bottom: 30%;
    right: 10%;
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: end;

    span {
      font-size: 3vw;
      font-family: coconat;
      color: white;
      text-shadow: 5px 10px 10px black;
      z-index: 1;
      position: relative;
    }
    span:first-of-type::before,
    span:first-of-type::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      z-index: -1;
      aspect-ratio: 1/1;
    }
    span:first-of-type::after {
      width: 5vw;
      top: -1vw;
      background-color: #2C463F;
      left: -2vw;
    }
    span:first-of-type::before {
      width: 2vw;
      top: -2.5vw;
      background-color: orange;
      left: 2.5vw;
    }
    button {
      padding: 20px 100px;
      border-radius: 30px;
      outline: unset;
      border: unset;
      background-color: red;
      color: white;
      font-weight: 400;
      font-size: 1.5vw;
      width: fit-content;
      margin-top: 10px;
      z-index: 1;
      position: relative;
      margin-top: 50px;

      &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        aspect-ratio: 1/1;
      }
      &::after {
        width: 2vw;
        top: -1vw;
        background-color: #053447;
        right: -1vw;
      }
    }
  }
}

.about {
  position: relative;

  header {
    height: fit-content;
  }
  .background img {
    display: block;
    width: 100%;
    height: auto;
  }

  .about-content {
    position: relative;

    h1 {
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        top: -0.5vw;
        left: -1.5vw;
        width: 5vw;
        height: 5vw;
        background-color: #DC1F26;
        border-radius: 100vw;
        z-index: -1;
      }
    }
  }
  
  .sections {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 20px;
    padding-top: 8vw;
    border-radius: 10px;
    box-sizing: border-box;
    display: grid;
    gap: 0 0.3vw;
    grid-template-areas: 
                        " . about"
                        " mission call"
                        "video video";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .call-to-action {
    grid-area: call;
    justify-self: center;
    align-self: flex-end;

    a {
      font-size: 3vw;
      text-decoration: none;
      color: white;
      position: relative;
      bottom: 7vw;
      margin-left: 12vw;

      &::after {
        content: "";
        position: absolute;
        background-color: white;
        bottom: 0;
        left: 25%;
        height: 2px;
        width: 50%;
        transition: width .5s, left .5s;
      }
    }
  }
  
  .mission-section,
  .about-section {
    grid-area: about;
    margin-left: 4vw;

    font-size: 1.4vw;
    line-height: 1.5;
    font-weight: regular;
    color: #333;

    .company-list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 2vw;

      b {
        font-family: coconat;
        font-size: 2vw;
        position: relative;
        z-index: 1;

        &::after {
          content: "";
          position: absolute;
          top: 0vw;
          left: -1vw;
          width: 2vw;
          height: 2vw;
          background-color: #F0A71E;
          border-radius: 100vw;
          z-index: -1;
        }
      }
    }
    h1 + p {
      font-size: 1.5vw;
    }
    p:last-child {
      margin-right: 200px;
    }
  }

  .mission-section {
    grid-area: mission;
    margin-left: 12vw;

    span {
      font-weight: 300;
    }

    ol li {
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        top: -0.5vw;
        left: -2.5vw;
        width: 2vw;
        height: 2vw;
        background-color: #F0A71E;
        border-radius: 100vw;
        z-index: -1;
      }
    }
  }
  /* Promo video sectie */
  .promo-video {
    grid-area: video;
    width: 65%;
    aspect-ratio: 16/9;
    align-self: self-end;
    justify-self: center;
    border: 2px solid #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
}
/* Team sectie */
.team-section {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: #333;
  position: relative;

  .content {
    position: absolute;
    inset: 0;
    padding: 50px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 100px;
    align-items: center;

    .partners {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 2000px;
      gap: 6vw;
      margin: 0 auto;
      height: fit-content;
      box-sizing: border-box;
      align-items: center;
      
      & > div {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: space-between;
        align-items: center;
        height: 100%;
      }
      .cosmos {
        img {
          margin-top: 2vw;
        }
      }
      a {
        font-size: 1.1vw;
        font-weight: 400;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 10px 50px 10px 20px;
        border-radius: 50px;
        position: relative;
        transition: background-color .5s, border-color .5s;

        &::after {
          content: "";
          display: block;
          width: 0.8vw;
          height: 0.8vw;
          font-size: 2.4vw;
          line-height: 0;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          position: absolute;
          font-weight: 200;
          background-image: url(../images/about/arrow.png);
          background-size: contain;
          filter: invert(1);
        }
        &:hover {
          border-color: transparent;
          background-color: #DC1F26;
        }
      }
    }
    .catchphrase {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    h3 {
      margin: 0;
      font-size: 3.5vw;
      font-family: coconat;
      width: fit-content;
      align-self: center;
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        top: -3vw;
        left: -3vw;
        width: 7vw;
        height: 7vw;
        background-color: #F0A71E;
        border-radius: 100vw;
        z-index: -1;
      }
    }
    span {
      font-size: 2.2vw;
      font-weight: 400;
    }
  }
  .background {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;

    img {
      align-self: end;
      display: block;
    }
  }
}
.slides {
  width: 100%;
  height: 100vh;
  overflow: hidden scroll;
  scroll-snap-type: y mandatory;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}
.slide2 {
  overflow: hidden scroll;
  
  .inner {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width : 1000px) {
  .canvasMain1 {
    position: absolute;
    inset: 0;
    background-image: unset;
    height: 100%;
    width: 100%;

    .text {
      right: 50%;
      bottom: 25%;
      transform: translateX(50%);
      text-align: center;
      align-items: center;
      width: 60vw;

      span {
        font-size: 5vw;
      }

      button {
        margin-top: 450px;
        font-size: 3vw;
      }
    }
  }
  header .header.main {
    background-color: var(--main-bg);
  }
  .slides {
    scroll-snap-type: none;
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;
  }
  .slide {
    scroll-snap-align: unset;
    height: fit-content;
    position: relative;
    flex: 1 0 auto;

    .background {
      height: unset;
    }
  }
  .slide2 header {
    display: none;
  }
  .about {
    width: 100%;

    .sections {
      position: static;
      grid-template-areas: 
                          "topimg"
                          "about"
                          "mission"
                          "middleimg"
                          "call"
                          "video";
      grid-template-columns: auto;
      grid-template-rows: auto;
      padding: 0;
  
      & > * {
        margin: 0;
      }
      & > div:not(.promo-video) {
        padding: 0 15vw 0 15vw;

        h1 {
          font-size: 7vw;

          &::after {
            width: 10vw;
            height: 10vw;
            left: -3vw;
          }
          & + p {
            font-size: 3.5vw;
          }
        }
        b {
          font-size: 4vw;

          &::after {
            width: 4vw;
            height: 4vw;
            left: -1vw;
          }
        }
      }
    }
    .promo-video {
      width: 100%;
      margin-top: -24vh;
      margin-bottom: 35vw;
    }
    .mission-section,
    .about-section {
      font-size: 3vw;
    }
    .about-section {
      margin-bottom: 10vw;
    }
    .call-to-action {
      a {
        font-size: 6vw;
        bottom: 30vh;
        margin: 0;
      }
    }
    .mission-section {
      ol li {
        &::after {
          width: 4vw;
          height: 4vw;
          left: -5vw;
        }
      }
      span {
        font-weight: 400;
      }
    }
  }
  .team-section {
    .content {
      .partners {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10vw;

        img {
          display: block !important;
          max-width: 250px;
        }
      }
      .catchphrase {
        margin-top: -15vh;

        h3 {
          font-size: 6vw;

          &::after {
            width: 12vw;
            height: 12vw;
            top: -4vw;
            left: -4vw;
          }
        }
        span {
          font-size: 3.5vw;
        }
      }
    }
  }
}