@import url("https://use.typekit.net/tsf7ttw.css");
@font-face {
  font-family: "coconat";
  src: url("font/Coconat-Regular.woff") format('woff'), 
      url("font/Coconat-Regular.woff2") format('woff2');
  font-weight: bold;
  font-style: italic;
}
:root {
  --main-bg: #F9F8F3;
}
html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: var(--main-bg);

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  color: black;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main {
  height: 100vh;
}
a {
  cursor: pointer;
}
img {
  width: 100%;
}
h1,
h2 {
  margin: 0;
  font-family: coconat;
}
header {
  text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 10;

  input {
    display: none;
  }
  .lbl-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 22px;
    z-index: 3;
    transition: left .5s;

    .line {
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: black;
      transition: transform .5s, opacity .5s;
    }
    .l1 {
      top: 2px;
    }
    .l2 {
      top: 10px;
    }
    .l3 {
      top: 18px;
    }
  }
  .toggle:checked + .lbl-toggle {
    left: 350px;
    height: 30px;

    .l2 {
      opacity: 0;
    }
    .l1 {
      transform: translateY(10px) rotate(45deg);
    }
    .l3 {
      transform: translateY(-5px) rotate(-45deg);
    }
  }
  .toggle:checked + .lbl-toggle + .header.other {
    transform: translateX(0);
  }
  .header {
    background-color: var(--main-bg);
  }
  .header.other {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 50px;
    font-size: 32px;
    font-weight: 200;
    height: 100vh;
    width: 400px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform .5s;

    a {
      font-size: 1.5rem;
    }

    & > * {
      order: 2;
    }
    .img {
      order: 1;
      margin-left: -30px;
    }
    .languages {
      margin-top: 30px;
      width: fit-content;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
  .header.main {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
    align-items: center;
    height: 100px;
    width: 100vw;

    .languages {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
  a:not(.img) {
    position: relative;
    width: fit-content;
    justify-self: center;
    transition: color .5s;
    color: black;
    text-decoration: none;
    font-size: 1.6vw;

    &::after {
      content: "";
      position: absolute;
      background-color: black;
      bottom: 0;
      left: 50%;
      height: 2px;
      width: 0;
      transition: width .5s, left .5s;
    }
    &.active,
    &:hover {
      color: #DC1F26;

      &::after {
        width: 50%;
        left: 25%;
      }
    }
  }
  .languages {
    a {
      &:hover {
        color: #F0A71E;
      }
    }
  }
  img {
    margin-top: 40px;
  }
}
canvas {
  height: 100vh;
  width: 100vw;
  line-height: 0;
}
.canvasMain1 {
  display: flex;
  position: relative;
  background-image: url(images/_MG_9667.jpg);
  background-position: 0 110px;
  background-size: cover;
  background-repeat: no-repeat;
  
  div {
    position: absolute;
    bottom: 25%;
    right: 10%;
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: end;

    span {
      font-size: 3vw;
      font-family: coconat;
      color: white;
      text-shadow: 5px 10px 10px black;
      z-index: 1;
      position: relative;
    }
    span:first-of-type::before,
    span:first-of-type::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      z-index: -1;
      aspect-ratio: 1/1;
    }
    span:first-of-type::after {
      width: 5vw;
      top: -1vw;
      background-color: #2C463F;
      left: -2vw;
    }
    span:first-of-type::before {
      width: 2vw;
      top: -2.5vw;
      background-color: orange;
      left: 2.5vw;
    }
    button {
      padding: 10px 50px;
      border-radius: 15px;
      outline: unset;
      border: unset;
      background-color: red;
      color: white;
      font-weight: 400;
      font-size: 2vw;
      width: fit-content;
      margin-top: 10px;
      z-index: 1;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        aspect-ratio: 1/1;
      }
      &::after {
        width: 2vw;
        top: -1vw;
        background-color: #053447;
        right: -1vw;
      }
    }
  }
}
.map {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 0 0 70px;
  box-sizing: border-box;

  .info {
    width: 330px;
    height: 500px;
    align-self: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    .infospanmap {
      font-size: 40px;
      text-align: center;
      padding: 0 50px;
    }
  }
  .houses.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    align-items: center;
    background-image: url(images/map.png);
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: cover;

    .house {
      all: unset;
      justify-self: center;
      cursor: pointer;
      transition: transform .5s;

      &:hover {
        transform: scale(1.25);
      }
      .head {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
      }
      .body {
        width: 20px;
        height: 25px;
        border-radius: 10px 10px 0 0;
        background-color: red;
        margin-top: -2px;
      }
      &.luca {
        grid-column: 8/9;
        grid-row: 6/7;

        .head,
        .body {
          background-color: #400026;
        }
      }
      &.cosmos {
        grid-column: 5/6;
        grid-row: 8/9;

        .head,
        .body {
          background-color: #400026;
        }
      }
      &.anker {
        grid-column: 7/8;
        grid-row: 6/7;

        .head,
        .body {
          background-color: #A4CD39;
        }
      }
      &.miro {
        grid-column: 6/7;
        grid-row: 9/10;

        .head,
        .body {
          background-color: #659ABF;
        }
      }
      &.harmonie {
        grid-column: 8/9;
        grid-row: 5/6;

        .head,
        .body {
          background-color: #E96642;
        }
      }
      &.forum {
        grid-column: 7/8;
        grid-row: 7/8;

        .head,
        .body {
          background-color: #F8981D;
        }
      }
      &.vives {
        grid-column: 2/3;
        grid-row: 9/10;

        .head,
        .body {
          background-color: #000000;
        }
      }
      &.bricoteam {
        grid-column: 9/10;
        grid-row: 5/6;

        .head,
        .body {
          background-color: #FF0000;
        }
      }
    }
  }
}

.info {
  .infoCard[style*="grid"] ~ .infospanmap {
    display: none;
  }
  .infoCard {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
  
    .linkToWebpage {
      text-decoration: none;
      color: black;
      border: 1px solid black;
      padding: 10px 50px 10px 30px;
      border-radius: 50px;
      position: relative;
  
      &::after {
        content: ">";
        position: absolute;
        right: 10px;
        top: 2px;
        font-size: 32px;
        font-weight: 200;
      }
    }
    .adress {
      display: flex;
      flex-direction: column;
    }
    .person {
      position: absolute;
      top: -30px;
      left: -30px;
      .head {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: red;
      }
      .body {
        width: 70px;
        height: 70px;
        margin-left: -5px;
        border-radius: 100px 100px 0 0;
        background-color: red;
        margin-top: -2px;
      }
    }
  }
  #luca {
    .head,
    .body {
      background-color: #400026;
    }
  }
  #cosmos {
    .head,
    .body {
      background-color: #400026;
    }
  }
  #anker {
    .head,
    .body {
      background-color: #A4CD38;
    }
  }
  #miro {
    .head,
    .body {
      background-color: #A4CD39;
    }
  }
  #harmonie {
    .head,
    .body {
      background-color: #E96642;
    }
  }
  #forum {
    .head,
    .body {
      background-color: #F8981D;
    }
  }
  #vives {
    .head,
    .body {
      background-color: #000000;
    }
  }
  #bricoteam {
    .head,
    .body {
      background-color: #FF0000;
    }
  }
}
.title {
  position: absolute;
  top: 50px;
  left: calc(50% - 60px);

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F0A71E;
    z-index: 1;
  }
  h2 {
    z-index: 5;
    position: relative;
  }
}
.jobs {
  overflow: hidden scroll;

  .canvasJobs1 {
    background-color: green;
    display: flex;

    svg {
      width: 100vw;
      height: 75vw;
    }
  }
  .vacancies {
    padding: 0 50px;
    position: relative;

    h1 {
      position: absolute;
      top: -25vw;
      left: 10vw;
      font-size: 6vw;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        width: 10vw;
        height: 10vw;
        background-color: red;
        top: -1.5vw;
        left: -3.5vw;
        border-radius: 50%;
        z-index: -1;
      }
    }
    .list:not(.empty) ~ h2 {
      display: none;
    }
    .list {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap;

      .vacancy {
        width: 330px;
        height: 500px;
        border-radius: 50px;
        padding: 25px;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        font-size: 1rem;
        gap: 15px;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);

        h2 {
          font-size: 1.2rem;
          text-align: center;
        }
        .company {
          text-align: center;
        }
        .linkToWebpage {
          text-decoration: none;
          color: black;
          border: 1px solid black;
          padding: 10px 50px 10px 30px;
          border-radius: 50px;
          position: relative;
          box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
          transition: box-shadow .5s, background-color .5s, border-color .5s;
      
          &:hover {
            box-shadow: unset;
            border-color: transparent;
            background-color: #F0A71E;
          }
          &::after {
            content: ">";
            position: absolute;
            right: 15px;
            top: -2px;
            font-size: 40px;
            font-weight: 100;
          }
        }
      }
    }
  }
}
